
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
  color: white;
}

.App a {
  color: white;
  text-decoration: none;
}

.App a:hover {
  color: #888;
}

div.nav-menu {
  display: block;
  background-color: burlywood;
  width: 100%;
  position: fixed;
  top: 0;
}

div.nav-menu a:hover {
  color: beige;
}

div.nav-menu nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding: 0 0.5em;
}

button.backindex{
  background-color: burlywood;
  padding: 0.25em 0.75em;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
}

button.backindex:hover {
  background-color: rgb(155, 129, 96);
}

a button.backindex {
  color: white;
}

form input.form-control {
  width: 100%;
  margin: 0.5em 0;
  padding: 0.75em;
  border: none;
  border-radius: 0.5em;
}

form button.createbutton {
  background-color: burlywood;
  color: white;
  padding: 0.25em 0.75em;
  margin-top: 1.5em;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
}

form button.createbutton:hover {
  background-color: rgb(155, 129, 96);
}

div.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form button.deletebutton {
  background-color: palevioletred;
  color: white;
  padding: 0.25em 0.75em;
  margin-top: 1.5em;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
}

form button.deletebutton:hover {
  background-color: rosybrown;
}